* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
section {
  background-image: url("https://images.unsplash.com/photo-1641790176913-5b573e7ebacd?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  position: absolute;
  bottom: 0;
  top: 0;
  /* background-clip: content-box; */

  background-color: #021c16;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.sub-sec {
  text-align: left;
  padding: 20px;
  /* background-color: rgba(255, 255, 255, 0.7); */
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
/* .dateTime div  {
  color: orange;

} */
.line {
  background-color: white;
  width: 8em;
  height: 0.2em;
}

.logo-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #000; */

}
.logo-cont img {
  width: 18em;
  height: 6em;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
  font-size: 40px;
  color: #fff;
}
.dateTime {
  display: flex;
  gap: 1em;
  color: white;
  /* align-items: center; */
  
}
.dateTime div {
  display: flex;
  gap: 8px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 20px;
  color: white;
}

input[type="email"] {
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1em;
  border: 1px solid #ccc;
}
#msgEl {
  background-color: #fff;
}



button {
  padding: 10px 4em;
  font-size: 1em;
  background-color: #087722;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #00b32d;
}

@media (max-width: 500px) {
 .sub-sec {
    padding: 10px;
    width: 90%;
  }
  h1 {
    font-size: 25px;
  }
  .button-cont{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }
  .dateTime{
    font-size: 16px;
  }
  p{
    font-size: 1em;
  }
}
@media (max-width: 400px) {
  section > div {
    padding: 10px;
    width: 90%;
  }
  h1 {
    font-size: 20px;
  }
  .button-cont{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }
  .dateTime{
    font-size: 14px;
  }
  p{
    font-size: 1em;
  }
}
